---
layout: default
---

<article class="post-content">
  {% if content contains site.IMG_PATH %}
    {% assign images = content | split:'<img src="' %}
    {% for image in images %}
      {% if image contains site.IMG_PATH %}
        {% assign thumbSrc = image | split: '" ' | first %}
        {% assign imageSrc = thumbSrc | split: '?imageView' | first | remove: "_640v" | remove: "_640" %}
        {% assign newImage = thumbSrc | prepend: '" data-url="' | prepend: thumbSrc | append: '" data-src="' | append: imageSrc %}
        {% if thumbSrc contains site.IMG_PATH and newImage contains site.IMG_PATH %}
            {% assign content = content | replace: thumbSrc, newImage %}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
  {% assign content = content | replace_first:'id="markdown-toc"','class="post-toc"' %}
  {{ content }}
</article>

<!-- {% include 666666 extend.html %} -->

<section class="wechat-related">
  <div class="wechat-related-item">
    <div class="wechat-related-code wechat-paycode"></div>
    <div class="wechat-related-title">
      {% IMG_PATH/zanshang.jpg %} 赞赏作者
    </div>
  </div>
</section>

<section class="post-extend">
  <section class="post-extend-content">
    <h4 class="post-extend-title">最近更新</h4>
    <ul id="recent-posts" class="post-extend-list">
      {% for post in site.posts offset: 0 limit: 5  %}
      <li class="post-extend-item">
        <a class="post-extend-link" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </section>
  <section class="post-extend-content">
    <h4 class="post-extend-title">猜你喜欢</h4>
    <ul id="random-posts" class="post-extend-list">
    </ul>
  </section>
</section>


{% include info.html %}
<!-- <div class="comment-tips">
    与本文不相关的留言，请发留言本谢谢。
</div>
<div id="comment"></div> -->
